<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stormy Weather</title>
    <link rel="stylesheet" type="text/css" href="../CSS/normalize.css">
    <link rel="stylesheet" type="text/css" href="../CSS/Stormy%20Stylesheet.css">
</head>
<body>
    <h1>Stormy Weather</h1>

    <p> <br>
        Life is bare, gloom and <br>
        mis'ry everywhere. Stormy <br>
        weather. Just can't get my <br>
        poor self together. I'm <br>
        weary all the time, so <br>
        weary all the time. <br>
    <br>
    When he went away the <br>
    blues walked in and met <br>
    me. If he stays away old <br>
    rockin' chair will get me. <br>
    <br>
    <br></p>
</body>
</html>