<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stormy Weather</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../CSS/normalize.css">
    <link rel="stylesheet" type="text/css" href="../CSS/Stormy%20Stylesheet.css">
</head>
        <body>
    <div>
        <h1>Stormy Weather</h1>
        <div id="icon"><img src="../Images/computer.png" alt="Computer icon" style="max-height:100px;max-width:100px;"></div>
        <div id="icon2"><img src="../Images/phone.png" alt="Smart Phone icon" style="max-height:100px;max-width:100px;"></div>
        <div id="icon3"><img src="../Images/tablet.png" alt="Tablet Icon" style="max-height:100px;max-width:100px;"></div>
    </div>
    <div>
        <p> <br>
            Life is bare, gloom and <br>
            mis'ry everywhere. Stormy <br>
            weather. Just can't get my <br>
            poor self together. I'm <br>
            weary all the time, so <br>
            weary all the time. <br>
            <br>
            When he went away the <br>
            blues walked in and met <br>
            me. If he stays away old <br>
            rockin' chair will get me. <br>
        </p>
        </div>
        </body>
</html>